*{margin: 0; padding: 0;}
a {text-decoration: none; display: block; color: #333;
    font-family: 'Nanum Gothic', sans-serif;}
li {list-style: none;}
img {width: 100%;}
h1 {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    color: #333
}

/* 외부 폰트 연결 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.wrap {width: 100%; overflow: hidden;}

header, section, footer {
    width: 100%;
    float: left;
}

header, section, footer, div {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}

body.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header {
    height: 150px;
    background-color: white;
    position: relative;
    z-index: 100;
}

/* 직속 자식 객체 선택자 */
header > div {
    width: 1760px;
    margin: 0 auto;
}

header .top_menu {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 44px;
}

header .top_menu ul {
    float: right;
}

header .top_menu ul li {
    float: left;
    margin-left: 10px;
    background-color: #47290f;
    height: 35px;
    width: 140px;
    border-radius: 30px;
}

header .top_menu ul li:last-child {
    background-color: #b17846;
    width: 90px;
}

header .top_menu ul li img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

header .top_menu ul li a {
    font-size: 14px;
    color: #fff;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu_area {
    height: 60px;
    position: relative;
    z-index: 30;
}

header .menu_area .menu1 {
    float: left;
}

/* 로고는 브라우저의 정 가운데로 배치해야함, 
양쪽에 길이가 다른 div가 있으므로 
position:absolute;로 배치함 */
header .menu_area .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    top: -20px;
}

header .menu_area .menu2 {
    float: right;
}

header .menu_area nav > ul > li {
    float: left;
    margin: 0 10px;
}

header .menu_area nav > ul > li > a {
    font-size: 15px;
    font-weight: bold;
    padding-right: 40px;
}

header .menu_area nav > ul > li:hover > a {
    color: #b17846;
}

/* 서브메뉴 */
header .menu_area nav .sub {
    padding-top: 50px;
    display: none;
}

header .menu_area nav .sub li a {
    padding: 15px 0 0;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

header .menu_area nav .sub li a:after {
    content: "";
    width: 0%;
    position: absolute;
    bottom: 0;
    height: 4px;
    left: 0;
    background-color: #b17846;
    transition: all 0.5s;
    opacity: 0.3;
}

header .menu_area nav .sub li:hover a:after {
    width: 100%;
}

header .menu_area nav,
header .menu_area .search,
header .menu_area .total_menu {
    float: left;
}

header .menu_area .search {
    width: 17px;
    margin: 0 10px;
}

header .menu_area .total_menu {
    width: 25px;
    margin: 0 10px
}

/* 서브메뉴배경 */
header .sub_bg {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    height: 180px;
    box-shadow: 1px 0 2px #ddd;
    display: none;
}

/* 검색영역 */
header .search_area {
    background-color: #fff;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 150px;
    display: none;
}

header .search_area .search_in {
    width: 650px;
    height: 60px;
    margin: 80px auto;
    border-bottom: 2px solid #111; 
}

header .search_area .search_in input {
    width: 600px;
    float: left;
    font-size: 20px;
    padding: 15px 0;
    display: block;
    /* 인라인요소를 블럭요소로 바꿈 */
    border: none;
}

header .search_area .search_in a {
    width: 27px;
    margin-top: 10px;
    float: right;
}

/* input 입력창을 마우스로 클릭해서 포커스가 input에 있을 때 테두리 없앰 */
header .search_area input:focus {
    outline: none;
}

/* 검색영역 안의 닫기 버튼 */
header .search_area > a {
    width: 22px;
    margin: 0 auto;
    float: none;
}

/* 메인 비주얼 */


section.visual .swiper {
    /* overflow-x때문에 쓴거, 축소해야지만 옆에 버튼이 보여서 수정하려고 */
    width:1760px;
    height:660px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}
span.swiper-pagination-bullet .swiper-pagination-bullet-active {
    background-color: #5b1333;
}
/* swiper슬라이드의 버튼 이미지 넣기 */
.swiper {
    overflow: visible;
}

.swiper-button-next {
    right: -38px;
}

.swiper-button-prev {
    left: -39px;
}

.swiper-button-next:after {
    content: url(../img/next.png);
}

.swiper-button-prev:after {
    content: url(../img/prev.png);
}

/* tab */
.tab {
    margin: 80px 0;
}

.tab .tab_container {
    width: 1760px;
    margin: 0 auto;
}

.tab .tab_container .more_btn {
    float: right;
}

.tab .tab_container .more_btn a {
    margin-top: 30px;
    font-size:18px;
    color:#666;
    width:90px;
}
.tab .tab_container .more_btn a:after {
    content:"";
    width:30px;
    height:2px;
    background-color: #999;
    float:right;
    margin-top: 15px;
}

.tab .tab_container .tab_in {
    margin-top: 25px;
}

.tab .tab_container .tab_in > div {
    float: left;
}

.tab .tab_container .tab_in .tab_btn {
    width: 30%;
    padding: 232px 250px 232px 150px;
}
.tab .tab_container .tab_in .tab_btn ul li {
    margin: 10px;
}

.tab .tab_container .tab_in .tab_btn ul li a {
    font-size: 18px;
    padding: 15px 10px;
    transition: all 0.5s;
}

.tab .tab_container .tab_in .tab_btn ul li a.active {
    color: #b17846;
    font-size: 24px;
}

.tab .tab_container .tab_in .tab_img {
    width: 36%;
    height: 740px;
    position: relative;
    overflow: hidden;
}

.tab .tab_container .tab_in .tab_img ul {
    position: absolute;
    width: 10000px;
}

.tab .tab_container .tab_in .tab_img ul li {
    width: 640px;
    height: 740px;
    float: left;
}

.tab .tab_container .tab_in .tab_des {
    width: 30%;
    height:740px;
    overflow: hidden;
    position: relative;
}

/* .tab .tab_container .tab_in .tab_des ul {
    position: absolute;
} */

.tab .tab_container .tab_in .tab_des ul li {
    width: 100%;
    height: 740px;
    padding: 220px 100px;
    padding-left: 70px;
    font-size: 24px;
    position: absolute;
    top: 740px;
    opacity: 0;
}

.tab .tab_container .tab_in .tab_des ul li:first-child {
    top: 0;
    opacity: 1;
}

.tab .tab_container .tab_in .tab_des ul li p {
    font-size: 20px;
    margin-top: 30px;
    line-height: 35px;
    color: #666;
}

/* collection */
.collection {
    height:100vh;       /*추가함*/
    margin-top: 80px;
}

.collection .tab_slide {
    margin-top: 25px;
}

.collection .tab_slide .tab_title {
    margin: 0 auto;
    width: 250px;
}

.collection .tab_slide .tab_title a {
    font-size: 20px;
    padding: 10px;
    float: left; 
}

.collection .tab_slide .tab_title a:after {
    content: "|";
    float: right;
    margin-left: 20px;
    color: #ccc;
}

.collection .tab_slide .tab_title a:last-child:after {
    content: "";
}

.collection .tab_slide .tab_title a.active {
    color: #b17846;
}

.collection .tab_slide .tab_slide_con {
    width: 100%;
    float: left;
    margin-top: 25px;
    position: relative;
}

.collection .tab_slide .tab_slide_con .tab_slide_list {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.collection .tab_slide .tab_slide_con .tab_slide_list.active {
    opacity: 1;
    visibility: visible;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper {
    width: 1760px;
    height: 678px;
    margin: 0 auto;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best1 {
    background-image: url(../img/1.png);
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best2 {
    background-image: url(../img/2.png);
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .best3 {
    background-image: url(../img/3.png);
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .hot1 {
    background-image: url(../img/4.png);
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .hot2 {
    background-image: url(../img/5.png);
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .hot3 {
    background-image: url(../img/6.png);
}

/* swiper 스크롤바 색상 변경 */
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-scrollbar-drag {
    background-color: #47290f;
}

.collection .swiper-wrapper > div > h1 {
    font-size: 30px;
    float: left;
    margin-top: 80px;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.collection .swiper-wrapper > div > p {
    font-size: 17px;
    position: absolute;
    margin-top: 240px;
    opacity: 0;
    transition: all 0.7s;
    transition-delay: 0.4s;
}

.collection .swiper-wrapper > div > a {
    border: 1px solid #333;
    width: 100px;
    height: 40px;
    margin-top: 330px;
    position: relative;
    opacity: 0;
    transition: all 0.7s;
    transition-delay: 0.5s;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide span {
    display: block;
    position: absolute;
    background-color: #47290f;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide a i {
    display: block;
    position: absolute;
    font-style: normal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide a:hover span {
    height: 100%;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide a:hover i {
    color: #fff;
}

/* 탭메뉴 안의 swiper slide안의 제목, 글자 애니메이션 */
.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active h1{
    margin-top: 0;
    opacity: 1;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active p{
    margin-top: 80px;
    opacity: 1;
}

.collection .tab_slide .tab_slide_con .tab_slide_list .swiper .swiper-slide-active a{
    margin-top: 230px;
    opacity: 1;
}

.collection .swiper-wrapper .best3 a {
    border: 1px solid #fff;
}

.collection .swiper-wrapper .best3 h1,
.collection .swiper-wrapper .best3 p,
.collection .swiper-wrapper .best3 a {
    color: #fff;
}

/* 공지사항 */
.notice {
    height:100vh;
}

.notice .notice_container {
    width:1440px;
    height: 890px;
    margin:0 auto;
    margin-top: 80px;
}
.notice .notice_container .notice_in {
    width:100%;
    float:left;
    margin-top: 30px;
}
.notice .notice_container .notice_in > div {
    float:left;
}
.notice .notice_container .notice_in .notice_title {
    display: flex;
    text-align: left;
    /* flexible기능 중 내용을 부모객체의 세로 가운데로 정렬 */
    align-items: center; 
    font-size:20px;
    line-height:34px;
    height:710px;
}
.notice .notice_container .notice_in .notice_img {
    width:640px;
    height:740px;
    overflow: hidden;
    position: relative;
    margin: 0 100px;
}
.notice .notice_container .notice_in .notice_img ul {
    position: absolute;
    width:10000px;
    left:0;
}
.notice .notice_container .notice_in .notice_img ul li {
    width:640px;
    height:740px;
    float:left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding:80px;
    box-sizing: border-box;
    line-height: 70px;
}

.notice .notice_container .notice_in .notice_btn {
    display: flex;
    flex-flow:column nowrap;
    height:710px;
    align-items: center;
}
.notice .notice_container .notice_in .notice_btn a {
    padding:40px 0;
    font-size:16px;
    color:#999;
    line-height:24px;
    letter-spacing: -1px;
    width:100%;
    border-bottom:1px solid #ddd;
}
.notice .notice_container .notice_in .notice_btn a span {
    margin-bottom: 20px;
    display: block;
}
.notice .notice_container .notice_in .notice_btn a button {
    padding:7px 20px;
    border:1px solid #b17846;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-size:14px;
    color:#b17846;
    margin-top: 20px;
}
.notice .notice_container .notice_in .notice_btn a.active {
    color:#47290f;
}

/* review */

.review {
    margin: 80px 0;
}

.review .review_in {
    margin:0 auto;
}
.review .review_in .review_list {
    margin-top: 30px;
    margin-left: 80px;
}
.review .review_in .review_list ul {
    width:100%;
    display:grid;    
    gap: 20px;
    grid-template-columns:425px 425px 425px 425px;
}
.review .review_in .review_list ul li {
    overflow: hidden;
}
.review .review_in .review_list ul li .review_img {
    transform:scale(1,1);
    transition:all 0.5s;
}

.review .review_in .review_list ul li:hover .review_img {
    transform:scale(1.1,1.1);
}

.review .review_in .review_list ul li a .review_img img {
    height: 360px;
}

/* google */
.map {
    padding-top:80px;
}
.map iframe {
    margin-top:30px;
}

.map .box {
    width: 520px;
    height: 430px;
    background-color: #47290f;
    position: absolute;
    margin-top: -250px;
    margin-left: 1100px;
}
.map .box p {
    color: #fff;
    font-size: 20px;
    margin-top: 110px;
    margin-bottom: 100px;
    text-align: center;
}
.map .box a {
    width: 24px;
    float: right;
    margin-top: -40px;
    margin-right: 165px;
}

.map .box input {
    width: 200px;
    height: 30px;
    display: block;
    padding: 10px 0;    
    margin-left: 160px;
    background-color:transparent;
    border: none;
    border-bottom: 2px solid #fff; 
    color: #fff;
}

.map .box input:focus {
    outline: none;
}

.map .box input::placeholder {
    color: #888;
    font-size: 15px;
}

/* icon */
.icons .icons_in {
    margin: 0 auto;
    margin-top: 80px;
    width:1500px;
}
.icons .icons_in ul li {
    float:left;
    padding:0 60px;
    border-right:1px solid #ddd;
}
.icons .icons_in ul li:last-child {
    border:none;
}
.icons .icons_in ul li a {
    font-size:18px;
    text-align: center;
}
.icons .icons_in ul li img {
    /* 가로크기를 원래크기대로  */
    width:initial;
}
.icons .icons_in ul li p {
    margin-top: 10px;
}

/* info */
.info {
    margin-top: 160px;
}
.info > div {
    width:50%;
    float:left;
    padding:100px;
}
.info .custom {
    padding-left:270px;
    background-color: #f4f4f4;
    color:#444;
}
.info .custom > div {
    float:left;    
}
.info .custom div p {
    font-size:38px;
    margin-top: 30px;
}
.info .custom div span {
    color:#666;
}
.info .custom .custom_center {
    padding-right:50px;
}
.info .app {
    padding:50px;
    padding-left: 100px;
}
.info .app p {
    font-size:32px;
    color:#444;
}
.info .app button {
    cursor: pointer;
    padding:15px 25px;
    margin-top: 30px;
    margin-right: 10px;
    border:1px solid #ccc;
    background-color: transparent;
    font-size:16px;
    position: relative;
}
.info .app button:after {
    content:"";
    position: absolute;
    background-color: #47290f;
    left:0;
    bottom:0;
    height:0;
    transition:all 0.3s;
    width:100%;
}
.info .app button span {
    /* button:after와 겹침 */
    position: absolute;
    /* 인라인 요소를 블록 요소로 변환 */
    display: block;
    top:0;  left:0;
    /* button:after보다 뒤쪽에 배치 */
    z-index:9;
    padding:15px 25px;
    color:#999;
}
.info .app button:hover:after {
    height:100%;
} 
.info .app button:hover span {
    color:#fff;
}
/* .app안의 more -- */
.info .app a {
    margin-top: 30px;
    font-size:18px;
    color:#666;
    width:90px;
}
.info .app a:after {
    content:"";
    width:30px;
    height:2px;
    background-color: #999;
    float:right;
    margin-top: 15px;
}
/* footer */
footer {
    padding-top:80px;
}
footer .footer_in {
    width:1760px;
    margin:0 auto;
}
footer .footer_in .addr {
    float:left;
}
footer .footer_in .addr .company ul li {
    float:left;
    margin-right:50px;
}
footer .footer_in .addr .company ul li a {
    font-size:16px;
}
footer .footer_in .addr .company ul li:nth-child(3) a {
    color:#b17846;
}

footer .footer_in .addr {
    width: 1760px;
    margin: 80px 0;
}
footer .footer_in .addr .sns {
    float: right;
}

footer .footer_in .addr .sns ul li {
    float: left;
    margin-right: 30px;
}
footer .footer_in .addr .sns ul li a {
    width: 30px;
}

footer .footer_in .addr address {
    width:100%;
    float:left;
    margin-top: 10px;
    font-style:normal;
    font-size:15px;
    color:#888;
    line-height: 24px;
}
footer .footer_in .addr address p {
    margin-top: 20px;
}
footer .footer_in .family {
    width:260px;
    float:right;
    border-bottom:2px solid #333;
    color:#666;
    padding:10px 0;
    margin-top: 50px;
    position: relative;
}
footer .footer_in .family span {
    width:10px;
    float:right;
}
footer .footer_in .family .fa_con {
    /* fa_title 제목과 겹침 */
    position: absolute;
    background-color: #111;
    bottom:0;
    width:100%;
    padding:10px 0;
    display: flex;
    /*세로 아래 정렬*/
    align-items: flex-end;  
    /*ul과 a태그 가로로 정렬*/
    justify-content: space-between; 
}
footer .footer_in .family .fa_con ul {
    float:left;
}
footer .footer_in .family .fa_con ul li a {
    padding:7px 20px 5px;
    color:#fff;
    font-size: 14px;
}
footer .footer_in .family .fa_con > a {
    width:10px;
    float:right;
    margin-right: 20px;
}
/* TOP버튼 */
.top{
    position: fixed;
    width:80px;
    height:80px;
    background-color: #f4f4f4;
    text-align: center;
    line-height:80px;
    font-size:14px;
    right:0;
    bottom:0px;
    cursor: pointer;
    z-index:2000;
}
.top.active {
    position: absolute;
    bottom: 330px;
    right: 0;
}
.site {
    /* .wrap이랑 겹치게 */
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    right: -100%;
    top: 0;
}

.site .site_menu {
    width: 710px;
    height: 100vh;
    float: left;
    background-color: #111;
    /* 겹치게 하려고 */
    position: relative;
}

.site .site_menu nav{
    position: absolute;
    z-index: 1002;
    padding: 150px 0 0 70px;
}

.site .site_menu nav > ul > li {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}

.site .site_menu nav > ul > li > a {
    float: left;
    font-size: 40px;
    padding: 15px 10px;
    color: #aaa;
    font-weight: bold;
}

.site .site_menu nav > ul > li.active {
    z-index: 2;
}

.site .site_menu nav > ul > li.active > a {
    color: #fff;
}

.site .site_menu nav > ul > li > p {
    float: left;
    width: 0;
    height: 2px;
    background-color: #999;
    margin-top: 40px;
    margin-left: 20px;
    transition: all 0.5s;
}

.site .site_menu nav > ul > li > p.line1.active {
    width: 120px;
}

.site .site_menu nav > ul > li > p.line2.active {
    width: 200px;
}

.site .site_menu nav > ul > li > .sub {
    position: absolute;
    top: 20px;
    left: 380px;
    display: none;
}

.site .site_menu nav > ul > li > .sub li a {
    color: #ddd;
    padding: 10px;
}

.site .site_menu .site_bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.site .site_menu .site_bg img {
    filter: brightness(50%);
}

.site .site_menu .site_bg ul li {
    position: absolute;
    /* display: none; */
    transform: scale(1.1, 1.1);
    transition: all 1s;
    opacity: 0;
}

.site .site_menu .site_bg ul li.active {
    transform: scale(1, 1);
    opacity: 1;
}

.site .site_menu .site_bg ul li:first-child {
    display: block;
}

.site .site_map {
    /* width: calc(100%-710px); */
    /* width:1210px; */
    height: 100vh;
    padding: 100px 80px;
    background-color: white;
    float: left;
}

.site .site_map .site_close {
    width: 22px;
    height: 22px;
    float: right;
}

.site .site_map .site_nav {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.site .site_map .site_nav > ul > li {
    float: left;
    margin: 40px;
    width: 140px;
}

.site .site_map .site_nav > ul > li > a {
    font-size: 24px;
}
.site .site_map .site_nav > ul > li .sub {
    margin-top: 10px;
}
.site .site_map .site_nav > ul > li .sub li a {
    font-size: 16px;
    padding: 10px 0;
    color: #777;
}

.site .site_map .site_banner {
    width: 100%;
    float: left;
    padding: 200px 40px;
}

.site .site_map .site_banner ul li {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;
}

.site .site_map .site_banner ul li a {
    color: #fff;
    font-weight: bold;
}

.site .site_map .site_banner ul li:first-child {
    background-image: url(../img/site_youtube.png);
}

.site .site_map .site_banner ul li:nth-child(2) {
    background-image: url(../img/site_facebook.jpg);
}

.site .site_map .site_banner ul li:last-child {
    background-image: url(../img/site_blog.png);
}
